name: Build Python
on: push
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Python
        uses: actions/checkout@v6
        with:
          repository: python/cpython
          ref: "3.10"
      - run: cmd /c PCbuild\get_externals.bat
      - run: cmd /c PCbuild\build.bat -e -p x64
      - uses: actions/checkout@v6
        with:
          repository: yt-dlp/yt-dlp
      - run: cmd /c ..\PCBuild\amd64\python.exe "yt_dlp\__main__.py" -v test:generic